
deb http://ports.ubuntu.com/ubuntu-ports/ DIST main restricted universe multiverse
deb-src http://ports.ubuntu.com/ubuntu-ports/ DIST main restricted universe multiverse

deb http://ports.ubuntu.com/ubuntu-ports/ DIST-security main restricted universe multiverse
deb-src http://ports.ubuntu.com/ubuntu-ports/ DIST-security main restricted universe multiverse

deb http://ports.ubuntu.com/ubuntu-ports/ DIST-updates main restricted universe multiverse
deb-src http://ports.ubuntu.com/ubuntu-ports/ DIST-updates main restricted universe multiverse

deb http://ports.ubuntu.com/ubuntu-ports/ DIST-proposed main restricted universe multiverse
deb-src http://ports.ubuntu.com/ubuntu-ports/ DIST-proposed main restricted universe multiverse

deb http://ports.ubuntu.com/ubuntu-ports/ DIST-backports main restricted universe multiverse
deb-src http://ports.ubuntu.com/ubuntu-ports/ DIST-backports main restricted universe multiverse

deb http://archive.canonical.com/ubuntu DIST partner
deb-src http://archive.canonical.com/ubuntu DIST partner

deb http://archive.canonical.com/ubuntu DIST-proposed partner
deb-src http://archive.canonical.com/ubuntu DIST-proposed partner

